target/
Cargo.lock
*.exe
*.o
*.out
*.exe
*.dll
*.so
*.dylib
*.s
*.ll
*.bc
*.rlib
output.c

vscode-extensions/node_modules/
vscode-extensions/out/
vscode-extensions/tlang*.vsix

__pycache__/
_bmad-output/
_bmad/